<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <form [formGroup]="signUpForm" 
      (ngSubmit)="onSignUp()"
      >
        <div class="form-group">
          <label for="userName">Username*</label>
          <input 
          formControlName="userName"
          type="text" id="userName" class="form-control" />

          <strong 
          *ngIf="userName.touched && userName.hasError('required')"
          class="text-danger">
            Username is required field !!!
          </strong>

          <strong class="text-danger" *ngIf="f['userName'].dirty && f['userName'].hasError('pattern')">
            Invalid pattern (Number and Spec char not allowed)
          </strong>

          <strong class="text-danger" *ngIf="f['userName'].dirty && f['userName'].hasError('minlength')">
            Minlength of the Username should be
            {{f['userName'].errors?.['minlength'].requiredLength}} and 
            Actual length is {{f['userName'].errors?.['minlength'].actualLength}}.
          </strong>

          <strong class="text-danger" *ngIf="f['userName'].dirty && f['userName'].hasError('maxlength')">
            Maxlength of the username sholud be 
            {{f['userName'].errors?.['maxlength'].requiredLength}}
            and the actual length is 
             {{f['userName'].errors?.['maxlength'].actualLength}}
          </strong>

          <strong class="text-danger" *ngIf="f['userName'].dirty && f['userName'].hasError('noSpaceBar')">
           {{f['userName'].errors?.['noSpaceBar']}}
          </strong>
        </div>

        <div class="form-group">
          <label for="email">Email*</label>
          <input 
          formControlName="email"
          type="text" id="email" class="form-control" />
        </div>

        <button class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>
